#article {
  margin: 3.125rem 0;
  width: auto;
  height: auto;
  padding: 0 3.125rem;
  overflow: hidden; }
  #article p,
  #article blockquote,
  #article ul,
  #article ol,
  #article h1,
  #article h2,
  #article h3,
  #article h4,
  #article h5,
  #article h6,
  #article table {
    position: relative;
    box-sizing: border-box; }
  #article h1::before {
    position: absolute;
    left: -2rem;
    content: "h1";
    color: #a3abb3;
    font-size: 1rem; }
  #article h2::before {
    position: absolute;
    left: -2rem;
    content: "h2";
    color: #a3abb3;
    font-size: 1rem; }
  #article h3::before {
    position: absolute;
    left: -2rem;
    content: "h3";
    color: #a3abb3;
    font-size: 1rem; }
  #article h4::before {
    position: absolute;
    left: -2rem;
    content: "h4";
    color: #a3abb3;
    font-size: 1rem; }
  #article h5::before {
    position: absolute;
    left: -2rem;
    content: "h5";
    color: #a3abb3;
    font-size: 1rem; }
  #article h6::before {
    position: absolute;
    left: -2rem;
    content: "h6";
    color: #a3abb3;
    font-size: 1rem; }
  #article a {
    color: #dd4c4f; }
  #article blockquote {
    padding-left: 1.25rem;
    margin: 0;
    border-left: 0.125rem solid #dd4c4f; }
  #article p > code {
    background-color: #dd4c4f;
    color: white; }
  #article pre {
    position: relative;
    overflow: auto; }
    #article pre > code {
      padding: 2rem;
      line-height: 1.875rem; }
    #article pre > .lang {
      position: absolute;
      top: 0;
      right: 0;
      padding: .625rem;
      color: #a3abb3; }
  #article ul,
  #article ol {
    margin: 0;
    padding: 0;
    counter-reset: section;
    list-style-type: none; }
  #article ul ul,
  #article ul ol,
  #article ol ul,
  #article ol ol {
    padding: 0.3125rem 0 0.3125rem 2rem; }
  #article li {
    position: relative;
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0.3125rem 0; }
  #article ul > li::before {
    position: absolute;
    left: -2rem;
    color: #dd4c4f;
    font-size: 1rem;
    font-weight: bold;
    content: "*"; }
  #article ol > li::before {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    left: -2rem;
    color: #dd4c4f;
    font-size: 1rem;
    font-weight: bold; }
  #article img {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  #article table {
    margin: 0.625rem 0;
    max-width: 100%;
    border: 0.0625rem solid #efefef;
    border-spacing: 0; }
    #article table th,
    #article table td {
      padding: 1.25rem;
      border: 0.0625rem solid #efefef; }
    #article table th {
      background-color: #efefef; }
  #article p {
    line-height: 1.5rem; }

@media (min-width: 576px) {
  article#article {
    margin: 3.125rem 0;
    padding: 0 3.125rem; } }

@media (min-width: 768px) {
  article#article {
    margin: 6.25rem 0;
    padding: 0; } }

@media (min-width: 992px) {
  article#article {
    margin: 6.25rem 0;
    padding: 0; } }

@media (min-width: 1200px) {
  article#article {
    margin: 6.25rem 0;
    padding: 0; } }

body,
html {
  font-family: "Fira Mono", monospace;
  font-size: 12px;
  background-color: white;
  color: #555555;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }

::selection {
  color: white;
  background-color: #dd4c4f; }

.container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* main */ }
  .container > main {
    width: 100%;
    height: auto;
    padding: 6.25rem 0 3.125rem;
    /* tag-cloud */ }
    .container > main > #tag-cloud {
      width: 100%;
      height: auto;
      margin: 3.125rem auto;
      box-sizing: border-box; }
      .container > main > #tag-cloud > input[type="text"] {
        display: block;
        width: 100%;
        padding: 1.25rem;
        box-sizing: border-box;
        text-align: center;
        outline: none;
        border: 0.1875rem solid #efefef; }
      .container > main > #tag-cloud > .wrapper {
        display: flex;
        margin-top: 3.125rem;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-wrap: wrap; }
        .container > main > #tag-cloud > .wrapper a {
          margin: 0.625rem;
          padding: 0.625rem;
          background-color: #a3abb3;
          color: white; }
          .container > main > #tag-cloud > .wrapper a:hover {
            color: #dd4c4f; }

/* userinfo */
#userinfo {
  position: relative;
  width: 100%;
  height: auto;
  margin: 3.125rem 0;
  text-align: center; }
  #userinfo .avatar {
    width: 9.375rem;
    height: 9.375rem;
    outline: none;
    border: none; }
  #userinfo .author {
    margin-top: 1.5625rem; }

/* article */
article.article {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 3.125rem; }
  article.article:last-child {
    margin-bottom: 0; }
  article.article .left-item {
    order: 0; }
  article.article .right-item {
    order: 1; }
  article.article .cover {
    box-sizing: border-box;
    flex: 2;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    article.article .cover > img {
      display: block;
      width: 100%;
      height: auto; }
  article.article .content {
    flex: 1; }
    article.article .content ul {
      width: 100%;
      height: auto;
      list-style: none;
      margin: 0;
      padding: 0; }
    article.article .content > .wrapper {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      padding: 1.875rem; }
      article.article .content > .wrapper > time {
        color: #a3abb3;
        font-size: 0.875rem; }
      article.article .content > .wrapper > h2.title {
        color: #555555;
        font-size: 1.25rem;
        margin: 1.25rem 0 3.125rem; }
        article.article .content > .wrapper > h2.title > a {
          color: #555555;
          text-decoration: none; }
      article.article .content > .wrapper > .description {
        width: 100%;
        height: auto;
        color: #a3abb3;
        font-size: 1rem;
        line-height: 1.5rem; }
      article.article .content > .wrapper > ul.tags {
        font-size: 0;
        margin-top: 3.125rem;
        width: 100%;
        height: auto; }
        article.article .content > .wrapper > ul.tags > li {
          display: inline-block;
          width: auto;
          height: auto;
          background-color: #a3abb3;
          padding: 0.625rem;
          margin-top: 0.625rem;
          margin-right: 0.625rem; }
          article.article .content > .wrapper > ul.tags > li a {
            font-size: 0.875rem;
            color: white; }
            article.article .content > .wrapper > ul.tags > li a.active {
              color: #dd4c4f; }

/* paginate */
ul.paginate {
  width: 100%;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem; }
  ul.paginate > li {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 1.875rem; }
    ul.paginate > li a {
      color: #555555;
      text-decoration: none; }

div.back-to-top {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1rem;
  margin-top: 3.125rem; }
  div.back-to-top > button {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer; }

/* header */
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  text-align: center;
  line-height: 6.25rem;
  background-color: white;
  z-index: 1000;
  overflow: hidden; }
  header.fixed button {
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.25rem;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer; }
  header.fixed > .wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto; }
    header.fixed > .wrapper > #menu-btn {
      position: absolute;
      left: 0;
      top: 1.5625rem; }
    header.fixed > .wrapper > h1.title {
      font-size: 1.25rem;
      margin: 0; }
    header.fixed > .wrapper > #search-btn {
      position: absolute;
      right: 0;
      top: 1.5625rem; }

/* aside */
aside#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  left: -100%;
  top: 0;
  z-index: 2000;
  transition: left 0.2s ease-in-out;
  overflow: auto; }
  aside#menu ul,
  aside#menu li {
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0; }
  aside#menu a {
    color: #a3abb3;
    text-decoration: none; }
  aside#menu > header {
    position: relative;
    width: 100%;
    height: 6.25rem; }
    aside#menu > header > .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      line-height: 6.25rem;
      background-color: white;
      overflow: hidden; }
      aside#menu > header > .wrapper > h1.title {
        font-size: 1.25rem;
        margin: 0; }
      aside#menu > header > .wrapper .close {
        position: absolute;
        left: 0;
        top: 1.5625rem;
        width: 3.125rem;
        height: 3.125rem;
        font-size: 1.25rem;
        background-color: white;
        outline: none;
        border: none;
        cursor: pointer; }
  aside#menu > .wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center; }
    aside#menu > .wrapper .description {
      margin: 3.125rem 0 3.125rem 0;
      width: 100%;
      height: auto;
      color: #a3abb3;
      font-size: 0.875rem; }
    aside#menu > .wrapper nav {
      width: 100%;
      height: auto; }
      aside#menu > .wrapper nav li {
        margin-bottom: 1.25rem;
        font-weight: bold;
        font-size: 1.25rem; }
        aside#menu > .wrapper nav li:last-child {
          margin-bottom: 0; }
        aside#menu > .wrapper nav li > a.active {
          color: #dd4c4f; }
        aside#menu > .wrapper nav li > a:hover {
          color: #dd4c4f; }
    aside#menu > .wrapper ul.social {
      margin-top: 3.125rem;
      width: 100%;
      height: auto;
      color: #a3abb3; }
      aside#menu > .wrapper ul.social li {
        display: inline-block;
        width: auto;
        margin: 0.625rem; }
        aside#menu > .wrapper ul.social li a:hover {
          color: #555555; }
    aside#menu > .wrapper footer {
      margin: 3.125rem 0;
      width: 100%;
      color: #a3abb3;
      font-size: 0.625rem; }
      aside#menu > .wrapper footer a:hover {
        color: #dd4c4f; }

/* search */
aside#search {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  z-index: 2000;
  transition: left 0.2s ease-in-out;
  overflow: auto;
  scroll-behavior: smooth; }
  aside#search > .wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin: 0 auto 3.125rem; }
    aside#search > .wrapper > header {
      position: relative;
      width: 100%;
      height: 6.25rem;
      background-color: white;
      overflow: hidden; }
      aside#search > .wrapper > header input#search-input {
        position: absolute;
        left: 0;
        top: 1.5625rem;
        width: 100%;
        height: 3.125rem;
        margin: 0 auto;
        text-align: center;
        outline: none;
        font-size: 1rem;
        background-color: white;
        border: none; }
      aside#search > .wrapper > header .close {
        position: absolute;
        right: 0;
        top: 1.5625rem;
        width: 3.125rem;
        height: 3.125rem;
        font-size: 1.25rem;
        background-color: white;
        outline: none;
        border: none;
        cursor: pointer; }
    aside#search > .wrapper #search-result {
      width: 100%;
      height: auto;
      margin: 0; }
    aside#search > .wrapper .back-to-top {
      display: none; }

/* disqus_thread */
#disqus_thread {
  margin-top: 3.125rem;
  padding: 0 3.125rem; }

@media (min-width: 576px) {
  body,
  html {
    font-size: 12px; }
  header.fixed > .wrapper,
  aside#menu > header > .wrapper,
  .container,
  aside#search > .wrapper {
    width: 480px; }
  article.article {
    display: block;
    margin-bottom: 3.125rem; }
    article.article .cover > img {
      display: block; } }

@media (min-width: 768px) {
  body,
  html {
    font-size: 16px; }
  header.fixed > .wrapper,
  aside#menu > header > .wrapper,
  .container,
  aside#search > .wrapper {
    width: 720px; }
  article.article {
    display: block;
    margin-bottom: 6.25rem; }
    article.article .cover > img {
      display: block; } }

@media (min-width: 992px) {
  body,
  html {
    font-size: 16px; }
  header.fixed > .wrapper,
  aside#menu > header > .wrapper,
  .container,
  aside#search > .wrapper {
    width: 840px; }
  article.article {
    display: block;
    margin-bottom: 6.25rem; }
    article.article .cover > img {
      display: block; } }

@media (min-width: 1200px) {
  body,
  html {
    font-size: 16px; }
  header.fixed > .wrapper,
  aside#menu > header > .wrapper,
  .container,
  aside#search > .wrapper {
    width: 1080px; }
  article.article {
    display: flex;
    margin-bottom: 6.25rem; }
    article.article .cover > img {
      display: none; } }
